@charset "UTF-8";

html, body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.scene-element{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.5s ease;
}

#splash{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#wall{
  position: absolute;
  display: block;
  height: calc(100% + 80px);
  width: calc(100% + 100px);
  top: -40px;
  left: -50px;
  background-image: url(../src/wall.jpg);
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease;
}
#camera{
  top: -50px;
  left: 200px;
}
#vhs{
  top: 500px;
  left: 600px;
}
/* #vhs::after{
  content: "HISTORIA";
  position: absolute;
  color: white;
} */
#recorder{
  top: -10%;
  left: 70%;
}
