@charset "UTF-8";

*{
  scrollbar-color: rgba(255, 255, 255, 0.3) rgb(0, 0, 0);
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}


html, body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.scene-element{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.5s ease;
}
.scene-element img{
  height: 100%;
}

#splash{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#splash::after{
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-image: url("../src/noise.gif");
  background-repeat: repeat;
  opacity: 0.3;
  pointer-events: none;
}
#wall{
  position: absolute;
  display: block;
  height: calc(100% + 80px);
  width: calc(100% + 100px);
  top: -40px;
  left: -50px;
  background-image: url(../src/wall.jpg);
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease;
}
#camera{
  height: 119%;
  right: 73%;
  bottom: 5%;
}
#vhs{
  height: 57%;
  top: 73%;
  left: 47%;
}
#recorder{
  height: 128%;
  bottom: 15%;
  left: 70%;
}
